@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Scrolbar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(248, 250, 252, 0);
  }


  ::-webkit-scrollbar-thumb {
    background: rgb(203, 213, 225, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(148, 163, 184, 1);
  }
}